/* tables */
table.mission {
    font-family:arial;
    background-color: #EFEFEF;
/*  margin:10px 0pt 15px;*/
    font-size: 10pt;
    width: 80%;
    text-align: center;
	/*border: 10px solid #FFFFFF;*/
}
table.mission thead tr th, table.mission tfoot tr th {
    background-color: #003366;
    border: 1px solid #FFFFFF;
    font-size: 10pt;
    padding: 4px;
	color:white;
}
table.mission thead tr .header {
	border: 1px solid #FFFFFF;
            background-repeat: no-repeat;
                background-position: center right;
}
table.mission tbody td {
        color: #3D3D3D;
            padding: 4px;
                background-color: #EFEFEF;
                    vertical-align: top;
                    text-align:center;
					border: 0px solid #FFFFFF;
}
table.mission tbody tr td.withimage {
        background-color:#95B9C7;
		width: 500px;
		border: 0px solid #FFFFFF;
}
table.mission tbody tr td.all {
        background-color:#95B9C7;
		border: 0px solid #FFFFFF;
}
table.mission tbody tr td.estimation {
        background-color:#B9C9FE;
		border: 0px solid #FFFFFF;
}
table.mission tbody tr td.info {
        background-color:#F5BCA9;
		border: 0px solid #FFFFFF;
}
table.mission tbody tr td.actual {
        background-color:#E8EDFF;
		border: 0px solid #FFFFFF;
}
table.mission tbody tr td.current {
        background-color:#EFF8FB;
		border: 0px solid #FFFFFF;
}
table.mission tbody tr.total td {
		color:#FFFFFF;
		border: 0px solid #FFFFFF;
        background-color:#003366;
}
a.total:link {color: #FFFFFF; text-decoration: underline; }
a.total:active {color: #FFFFFF; text-decoration: underline; }
a.total:visited {color: #FFFFFF; text-decoration: underline; }
a.total:hover {color: #FFFFFF; text-decoration: none; }
.suggestionsBox {
        position: absolute;
        left: 120px;
		top : 60px;
        margin: 10px 0px 0px 0px;
        width: 200px;
        background-color: #212427;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border: 2px solid #000;
        color: #fff;
        font-family: Helvetica;
        font-size: 11px;^
    }

    .suggestionList {
        margin: 0px;
        padding: 0px;
    }

    .suggestionList li {

        margin: 0px 0px 3px 0px;
        padding: 3px;
        cursor: pointer;
    }
tablei.roller {
      text-align: center;
    width: 100%
    /*width: 10%;*/
}
table.roller th {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,  sans-serif;
    color: #000000;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    border-top: 1px solid #D3D3D3;
    text-transform: uppercase;
    padding: 3px 3px 3px 6px;
    background: #D3D3D3;
    /*background: #D3D3D3 url(images/bg_header.jpg) no-repeat;*/
    /*width:80%;*/
}
table.roller td {
    border-right: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    background: #fff;
    padding: 3px 3px 3px 6px;
    color: #000000;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica,  sans-serif;
    /*width:200;*/
}
table.roller td.alt {
    background: #F5FAFA;
    color: #000000;
}
table.roller td.red {
    background:red;
    color: #000000;
}
table.roller td.yellow {
    background:yellow;
    color: #000000;
}
table.roller td.green {
    background:green;
    color: #000000;

}



