* {
  box-sizing: border-box;
}

body{
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
}
#myInput {
  background-image: url('css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
  line-height: 19px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

#myTable th{
  font-weight: bold;
  font-size:12px;
}

#myTableHolder{
  overflow-y:scroll;
  width:100%;
  background: #fff;
}

.fleft{
  float:left;
}

.fright{
  float:right;
}

body{
  padding-top:35px;
  background: url(img/n1.png);
  background-color: #ddd;

}

.header{
  height:50px;
}